<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="mycobot_ros2_control" params="prefix flange_link use_gazebo use_mock_hardware:=^|false">
        <ros2_control name="RobotSystem" type="system">
            <hardware>
                <xacro:if value="${use_gazebo}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_gazebo}">
                    <xacro:if value="${use_mock_hardware}">
                        <plugin>mock_components/GenericSystem</plugin>
                        <param name="fake_sensor_commands">false</param>
                    </xacro:if>
                    <xacro:unless value="${use_mock_hardware}">
                        <plugin>mycobot_hardware/MyCobotHardwareInterface</plugin>
                        <param name="serial_port">/dev/ttyAMA0</param>
                        <param name="baud_rate">1000000</param>
                    </xacro:unless>
                </xacro:unless>
            </hardware>

            <joint name="${prefix}link1_to_${prefix}link2">
                <command_interface name="position">
                    <param name="min">-2.879793</param>
                    <param name="max">2.879793</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="${prefix}link2_to_${prefix}link3">
                <command_interface name="position">
                    <param name="min">-2.879793</param>
                    <param name="max">2.879793</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="${prefix}link3_to_${prefix}link4">
                <command_interface name="position">
                    <param name="min">-2.879793</param>
                    <param name="max">2.879793</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="${prefix}link4_to_${prefix}link5">
                <command_interface name="position">
                    <param name="min">-2.879793</param>
                    <param name="max">2.879793</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="${prefix}link5_to_${prefix}link6">
                <command_interface name="position">
                    <param name="min">-2.879793</param>
                    <param name="max">2.879793</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="${prefix}link6_to_${prefix}${flange_link}">
                <command_interface name="position">
                    <param name="min">-3.05</param>
                    <param name="max">3.05</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="${prefix}gripper_controller">
                <command_interface name="position">
                    <param name="min">-0.7</param>
                    <param name="max">0.15</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}gripper_base_to_${prefix}gripper_left2">
                <param name="mimic">gripper_controller</param>
                <param name="multiplier">1.0</param>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}gripper_left3_to_${prefix}gripper_left1">
                <param name="mimic">gripper_controller</param>
                <param name="multiplier">-1.0</param>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}gripper_base_to_${prefix}gripper_right3">
                <param name="mimic">gripper_controller</param>
                <param name="multiplier">-1.0</param>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}gripper_base_to_${prefix}gripper_right2">
                <param name="mimic">gripper_controller</param>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="${prefix}gripper_right3_to_${prefix}gripper_right1">
                <param name="mimic">gripper_controller</param>
                <param name="multiplier">1.0</param>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>

</robot>
